@charset "UTF-8";
#TOP{
    /*background-color: rgba(127, 255, 212, 0.208);*/
width: 100%;
height: 50vh;

padding-top: 10%;
/*dding-bottom: 10%;*/

text-align: center;

display: flex;
justify-content:center;
flex-direction: column;

}
#rogo{
    width: 50%;
    height: auto;
    padding: 10%;
    margin: auto;
    padding-top: 30%;
position: relative;
}
.container{
    object-fit:none;
    padding-bottom: 10%;
    width: 100%;
    height: 100%;
    margin-bottom: 25%;
    z-index: 0;

  }

 #irastration img{
    width: 13%;
    height: 100%;
    object-fit: cover;
 
}

#irastration h5{
    font-size: 200%;
    margin: 5%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}
#irastration{
    width: 80%;
    height: 10%;
    padding: 0%;
/*margin: 10%;*/
margin-left: 10%;
padding-top: 10%;
text-align: center;
margin-bottom: 10%;
/*margin-top: 0;*/
height: 70%;
  }
  .linkicon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -12.5%;
    position: relative;
  }
#mihonwindo h5{
text-align: left;
font-size:120%;
margin-bottom: 0;
}
#project_style{
    display: flex;
    
}
#mihonwindo{
width: 50%;
}