@charset "UTF-8";

#all{
    width: 100%;
    height: auto;
    aspect-ratio: 1920/1080;
        margin-left: 0%;
        margin-right: 0%;
        margin-top: 0%;
        padding: 0%;
display: flex;
}
#navi{
    top: 0;
    padding: 0%;
    margin: 0%;
    width: 100%; 
    height:5%; 
    left: 0px;
 background-color: rgba(149, 194, 234, 0.5);
display: flex;
 align-items: center;
 flex-direction:row-reverse;
 position: fixed;
z-index: 100;
 }
 #portfolio_navi{
       top: 0;
    padding: 0%;
    margin: 0%;
    width: 100%; 
    height:5%; 
    left: 0px;
 background-color: rgba(149, 194, 234, 1);
display: flex;
 align-items: center;
 flex-direction:row-reverse;
 position: fixed;
z-index: 100;
 }
 #zyanp{
    padding-right: 5%;
    text-align: right;
    font-size: 4vh;
    font-family:'Times New Roman', Times, serif;
 }
 #main{
    width: 100%;
/*    height: 500%;*/
height: auto;
   /*margin-left: 25%;*/
    padding: 0%;
/*    background-color: rgba(0, 0, 0, 0.105);*/
 }
/*わからない！！*/
 .icons{
   margin: 2%;
   padding: 0%;
   height: 5%;
   width: 5%;
   background-color: rgba(0, 0, 0, 0.105);
   display: flex;
   flex-direction: row;
 }
 #icons img{
   width: 5%;
   height: 5%;
 }

 #burannku{
   background-color: rgb(149, 194, 234, 0.141);
   width: 25%;
   height: 500%;
   z-index: 100;
 }
 /*#mihonwindo{
   justify-content: center;
   display: flex;
   justify-content: space-between; 
   gap: 5%; 
 }*/
 #project{
   padding-top: 5%;
margin-top: 10%;
text-align: center;
   margin-top: -5%;
 }

 #project h5{
   font-size: 200%;
   margin: 5%;
   margin-bottom: 0;
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}
#portfolio{
   width: 75%;
   padding-left: 25%;
}
#links{
   padding-top: 5%;
   margin-top: 10%;
text-align: center;
}